.card {
    display: flex;
    background-color: #f0f0f0; /* Change to the color you want */
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%; /* Make the card take up 90% of the width of its parent */
    max-width: 800px; /* Limit the maximum width of the card */
    margin: auto; /* Center the card */
    
    .card {
  display: flex;
  background-color: #f0f0f0; /* Change to the color you want */
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 90%; /* Make the card take up 90% of the width of its parent */
  max-width: 800px; 
  margin: auto; 

}


@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}

.portrait {
  width: 50%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.text {
    padding: 20px;
    color: #333; 
   
  }

  }
  
.content{
text-align: left;

/* change the text size to make it smaller */
font-size: 0.8em;

}
  .button {
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    border: none; 
    font-size: 1em; 
    margin: 10px 0; 
    cursor: pointer; 
  }



  @media screen and (max-width: 600px) {
    .card {
      width: 100%; 
    }
  }
  
  .portrait {
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* Add other styles as needed */
  }
  
  .text {
    padding: 20px;
    /* Add other styles as needed */
  }
