.App {
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack children vertically */
   justify-content: flex-start; /*Space between top and bottom elements */
  min-height: 100vh;
  text-align: center;
  background-color: black;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


.rubik-font {
  font-family: "Rubik", sans-serif;
  
}




body {
  background-color: black;
  height: 100vh;
  margin: 0rem;
  overflow: hidden; 
  font-family: "Rubik", sans-serif;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(251, 255, 127), mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(5vmax);
  pointer-events: none;
}

#enter{
    
}
