:root {
  --primary-color: #0D47A1; /* A deep blue color */
  --secondary-color: #1976D2; /* A slightly lighter blue */
  --background-color: #283593; /* A dark blue for the background */
  --accent-color: #64B5F6; /* A light blue for accents and highlights */
  --text-color: #E3F2FD; /* A very light blue for text */
}

.App {
  text-align: center;
  background-color: #000033; /* dark blue */
  min-height: 100vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Content starts from the top */
  color: white;
 
}

body {
  padding-bottom: 100px;
}
.App-header {
  font-size: 2em;
}

.terminal {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 400px;
  width: 100%;
  text-align: left;

}




.my-svg.absolute {
  position: absolute;
  top: 0;
  left: 50%;
} 