.experience-card h3 {
  margin-top: 0;
  color: #333333;
  font-size: 1.25rem;
}

.experience-card p {
  color: #555555;
  line-height: 1.6;
}

.work-experience-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.experience-card {
  background-color: #ffffff;
  border-left: 5px solid #5b6cef;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.experience-card:hover > *{
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  /* Apply the filter to the text elements on hover */
  filter: blur(2px);
}

.experience-card:hover .tech-logos,
.experience-card:hover .tech-logos * {
  filter: none;
}





.tech-logos {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Above the ::before pseudo-element */
  transition: transform 0.3s ease;
}

.experience-card:hover .tech-logos {
  display: flex;
  
}


